# This section configures the connection between the Datalogger tools and the Redmine instance which implements the requirements database
rm_server_url = 'http://req.cosmobots.eu:3001'	# The Redmine URL
rm_key_txt = 'APIKEY'			# The API key of the user (or bot) in which name the actions are undertaken.
ignore_cert = True  # Set to True if you want to avoid certificate checking

# Project specific settings
rm_project_id_str = 'loaddsm-tests'		# The ID of the Redmine project where the samples shall be stored
file_path = 'input_dsm.ods'

# Custom field identifiers
rm_cfield_wload = 34
rm_cfield_dep = 32
rm_cfield_collaborators = 29

