# This section configures the connection between the Datalogger tools and the Redmine instance which implements the requirements database
rm_server_url = 'http://req.cosmobots.eu:3001'	# The Redmine URL
rm_key_txt = 'cab19cc2c5545666eb3158fac4d0a4c0ce799d9e'			# The API key of the user (or bot) in which name the actions are undertaken.
rm_status_new_id = 1
# Project specific settings
rm_project_id_str = 'loaddsm-tests'		# The ID of the Redmine project where the samples shall be stored
